<% if(@user == current_user) %>
  <p>
  <b> It's You </b>
</p>

<h1>New message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.label :user_agent %><br />
    <%= f.text_field :user_agent %>
  </p>
 
    <% f.label :@user %><br />

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<% end %>
<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<!--
<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>
 
<p>
  <b>Last request at:</b>
  <%=h @user.last_request_at %>
</p>
 
<p>
  <b>Last login at:</b>
  <%=h @user.last_login_at %>
</p>
 
<p>
  <b>Current login at:</b>
  <%=h @user.current_login_at %>
</p>
 
<p>
  <b>Last login ip:</b>
  <%=h @user.last_login_ip %>
</p>
 
<p>
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
  </p>
  -->

<p>
  <b>Last message :</b>
  <% @messages.each{|message| %>
  <li>
  <%= message.body %>
  <br>
  <h6>
  <%= ' Poster le ' %> 
  <%= message.created_at %>
  <%= ' avec ' %>
  <%= message.user_agent %>
  </h6>
    </li>
    <% } %>
</p>

<%= will_paginate @messages %>

<%= link_to 'Edit', edit_account_path %>

<% if(@user == current_user) %>
  <h1>New message</h1>

    <% form_for(@message) do |f| %>
	<%= f.error_messages %>

    <p>
	<%= f.label :body %><br />
	<%= f.text_field :body %>
    </p>

  <% user_id = current_user %>

    <p>
	<%= f.submit 'Create' %>
    </p>
    <% end %>

<% end %>
